name: Node.js CI Backend

on:
  push:
    paths:
      - "mern/backend/**"

jobs:
  build:
    name: Build and test backend
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./mern/backend

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build --if-present

  image:
    name: Build Image and push to Docker Hub
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./mern/backend
          file: ./mern/backend/Dockerfile
          tags: ${{ secrets.DOCKER_USERNAME }}/mern-backend:latest
