name: Node.js CI Frontend

on:
  push:
    paths:
      - "mern/frontend/**"

jobs:
  build:
    name: Build and test frontend
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./mern/frontend

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build --if-present
